<html>
<Head>
<Title>Alarm Status</Title>
</Head>
<Body>
<center>

<table border=1>
<tr><td>
<a href='new.cgi?1?'>Alarm 1 is <% alarm_status_1 %></a>
</td></tr><tr><td>
<a href='new.cgi?2?'>Alarm 2 is <% alarm_status_2 %></a>
</td></tr><tr><td>
<a href='new.cgi?3?'>Alarm 3 is <% alarm_status_3 %></a>
</td></tr><tr><td>
<a href='new.cgi?4?'>Alarm 4 is <% alarm_status_4 %></a>
</td></tr>
</table>

<br><br>
<a href='new.cgi?5?'>The system is <% global_e_status %></a><br>
<a href='new.cgi?6?'>Hush all alarms</a>


<br><br>

<table border=1>
<tr><td>zone</td><td>time</td><td>action</td></tr>
<tr><td>1</td><td><% enable_time_zone_1 %></td><td>enable</td></tr>
<tr><td>2</td><td><% enable_time_zone_2 %></td><td>enable</td></tr>
<tr><td>3</td><td><% enable_time_zone_3 %></td><td>enable</td></tr>
<tr><td>4</td><td><% enable_time_zone_4 %></td><td>enable</td></tr>
<tr><td>1</td><td><% disable_time_zone_1 %></td><td>disable</td></tr>
<tr><td>2</td><td><% disable_time_zone_2 %></td><td>disable</td></tr>
<tr><td>3</td><td><% disable_time_zone_3 %></td><td>disable</td></tr>
<tr><td>4</td><td><% disable_time_zone_4 %></td><td>disable</td></tr>
</table>

<br><br><br>
<form action='setzone.cgi'>
<table>
<tr>
<td>
<input type='radio' name='enable' value='1'>Enable<br>
<input type='radio' name='enable' value='0'>Disable
</td>

<td> the alarm in </td>

<td>
<input type='radio' name='zone' value='1'>Zone 1<br>
<input type='radio' name='zone' value='2'>Zone 2<br>
<input type='radio' name='zone' value='3'>Zone 3<br>
<input type='radio' name='zone' value='4'>Zone 4
</td>

<td> at time </td>

<td>
<table><tr><td><center>hh:mm:ss</center></td></tr>
<tr><td>
<input type='text' name='hh' pattern='[0-9]{2}' maxlength='2' style='width: 2em;' value='00'>
<input type='text' name='mm' pattern='[0-9]{2}' maxlength='2' style='width: 2em;' value='00'>
<input type='text' name='ss' pattern='[0-9]{2}' maxlength='2' style='width: 2em;' value='00'>
</td></tr>
</table>
</td>
		
<td><input type='submit' value='Submit'></td>
</tr>
</table>
</form>

<br>
Set the system time will return the url 'settime.cgi?hh=00&mm=00&ss=00?'.<br>
Setting the enable/disable time for 'setzone.cgi?enable==0&zone==1&hh=00&mm=00&ss=00'.<br>
<br>
The alarm system clock is currently set to <% current_time_status %> <br>
<br>
<br>
<form action='new.cgi?1?' method='post'><INPUT TYPE='submit' VALUE='Alarm 1 is <% alarm_status_1 %>'></FORM>


</center>
</Body>
</html>
