<html>
<Head>
<Title>Alarm Status</Title>
</Head>
<Body>
<center>

<table border=1>

<tr>

<td>
<a href='new.cgi?1?'>Alarm 1 is <% alarm_status_1 %></a>
</td>

<td>
<table style='width:100%'>
<tr> 
<td> </td> 
<td>hh:mm:ss</td> 
<td> </td> 
</tr>
  <tr>
<form action='enable_time_zone_1.cgi'>
    <td>Enable time </td>
    <td>
<input type='text' name='hh' pattern='[0-9]{2}' maxlength='2' style='width: 1.5em;' value='00'>
<input type='text' name='mm' pattern='[0-9]{2}' maxlength='2' style='width: 1.5em;' value='00'>
<input type='text' name='ss' pattern='[0-9]{2}' maxlength='2' style='width: 1.5em;' value='00'></td>		
    <td>
<input type='submit' value='Submit'></td>
  </tr>
</form> 
  <tr>
<form action='disable_time_zone_1.cgi'>
    <td>Disable time</td>
    <td>
<input type='text' name='hh' pattern='[0-9]{2}' maxlength='2' style='width: 1.5em;' value='00'>
<input type='text' name='mm' pattern='[0-9]{2}' maxlength='2' style='width: 1.5em;' value='00'>
<input type='text' name='ss' pattern='[0-9]{2}' maxlength='2' style='width: 1.5em;' value='00'></td>		
    <td>
<input type='submit' value='Submit'></td>
  </tr>
</table>

</td>
</tr>

</table>


















<br><br><br><br><br>
<br><br><br><br><br>
<br><br><br><br><br>
<font size=20>
<a href='new.cgi?1?'>Alarm 1 is <% alarm_status_1 %></a>
<br>
<a href='new.cgi?2?'>Alarm 2 is <% alarm_status_2 %></a>
<br>
<a href='new.cgi?3?'>Alarm 3 is <% alarm_status_3 %></a>
<br>
<a href='new.cgi?4?'>Alarm 4 is <% alarm_status_4 %></a>
<br>
The system is <a href='new.cgi?5?'><% global_e_status %></a>
<br>
<a href='new.cgi?6?'>Hush all alarms</a>
<br>
<br>

The alarm system clock is currently set to <% current_time_status %>

<form action='settime.cgi'>
First name:<br>
<input type='text' name='firstname' value='Mickey'>
< 'settime.cgi?hh=00&mm=00&ss=00?' which is>
<br>
< 'setzone.cgi?1_1_hh=00&mm=00&ss=00'>
<br>
<% enable_time_zone_1 %> zone number, enable or disable time
<% enable_time_zone_2 %>
<% enable_time_zone_3 %>
<% enable_time_zone_4 %>
<% disable_time_zone_1 %>
<% disable_time_zone_2 %>
<% disable_time_zone_3 %>
<% disable_time_zone_4 %>
<form action='new.cgi?1?' method='post'><INPUT TYPE='submit' VALUE='Alarm 1 is <% alarm_status_1 %>'></FORM>
</center>
</Body>
</html>
